/* view_experiment.html*/
/* description */
.description-table {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.description-table td {
    padding: 10px;
}

/* Experiment Protocolの左側の青い線を追加 */
.protocol-step {
    border-left: 5px solid #007bff;
    padding-left: 15px;
    margin-bottom: 20px;
}

/* タグ形式のparametersをデザイン */
.badge-param {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 12px;
    font-size: 0.9em;
}

.reagent-param {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    margin: 5px;
    display: inline-block;
    font-size: 0.9em;
}

.container-param {
    background-color: #6a00e2;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    margin: 5px;
    display: inline-block;
    font-size: 0.9em;
}

/* タイトルを太字にする */
.step-title {
    font-weight: bold;
    font-size: 1.2em;
}

/* フラッシュメッセージフェードアウト */
.fade-out {
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

/* 実験記録削除ボタン */
.delete-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* add_entry.html*/
.thumbnail {
    margin-top: 10px;
    width: 200px;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    display: none;
    /* デフォルトでは表示しない */
}

.text-preview {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    display: none;
    /* デフォルトでは表示しない */
}

/*全体デザイン*/
body {
    background-color: #f0f4f8;
    /* 優しいグレー/ブルー */
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #3b5998;
    /* エレガントなブルー */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2d4373;
    /* 濃いブルーでホバーフィードバック */
}

h1,
h2 {
    color: #2c3e50;
    /* 落ち着いた見出し色 */
}

textarea {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    /* 優しい背景色 */
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* ナビゲーションボタン */
.navigation-buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.navigation-buttons .btn {
    margin-left: 10px;
    background-color: #2d4373;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navigation-buttons .btn:hover {
    background-color: #3b5998;
}